*{
    padding: 0;margin: 0;
    }
    .container{
    height: 100vh;
    width: 100vw;
    color: #444;
    background: #e09b9b;
    text-align: center; 
    }
    .love , .ok , .ofcourse{
        padding-top: 15%;
    }
    h1{
        font-size: 70px;
        margin-bottom: 30px;
    }
    .love span{
        color: rgb(202, 37, 37);
    }
    .love a{
        text-decoration: none;
        background: rgb(199, 146, 146);
        padding: 5px;
        margin: 5px 10px;
        border: 3px solid #333;
        border-radius: 10px;
    }
    #ok{
        color: rgb(95, 6, 6);
    }
    #ofcourse{
        color: rgb(95, 6, 6);
    }
    
    img{
        height: 60px;
        width: 60px;
        padding-left: 2%;
    }
    